[Desktop Entry]
Name=FluidSur-light
X-KDE-PluginInfo-Name=FluidSur-light
X-KDE-PluginInfo-Author=FluidSur Project
X-KDE-PluginInfo-Email=fluidsur@local
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
